{% extends 'base.html' %}

{% block body %}
		<div>
			<div>
				<h1 style="margin-left: 20%;">Художники</h1><img src="../static/images/BG/artists/artistBG2.jpg" width=100% alt="artist page BG">
			</div>
			{% include 'middlenav.html' %}
			<main>
				<article>
						<section class="infArt">
                            <div class="artistContainer">
								<div class="artistInfo">
									<div class="header">
									<p1>Италия</p1>
									<p2>1452-1519</p2>
									</div>
								<hr/>
								<p3>Леонардо да Винчи</p3>
								<p4>Живописец, скульптор, архитектор и учёный, изобретатель, писатель, музыкант, 
									один из крупнейших представителей искусства Высокого Возрождения, 
									яркий пример «универсального человека». 
									<br><i>Самые знаменитые работы: Мона Лиза, Мадонна Литта, Спаситель мира.</i></p4>
								</div>
								<img class="artistIcon shadow-hard-right" src="../static/../static/images/artists/Leonardo Dac Vinci.jpg">
							</div>
							<div class="artistContainer">
								<img class="artistIcon shadow-hard-left" src="../static/../static/images/artists/Claude Monet.jpg">
								<div class="artistInfo">
								<div class="header">
								<p1>Франция</p1>
								<p2>1840-1926</p2>
								</div>
								<hr/>
								<p3>Клод Моне</p3>
								<p4>Импрессионист 19-го века. Был новаторским прорывом в развитии выразительного искусства. <br><i>Самые знаменитые работы: Дама с Зонтиком, Дикие Маки, Кувшинки.</i></p4>
								</div>
							</div>
							<div class="artistContainer">
								<div class="artistInfo">
								<div class="header">
								<p1>Россия</p1>
								<p2>1844-1930</p2>
								</div>
								<hr/>
								<p3>Илья Ефимович Репин</p3>
								<p4>Репин стал одной из ключевых фигур русского реализма. Художнику удалось решить задачу отражения в живописном произведении всего разнообразия окружающей жизни. 
									В своём творчестве он сумел охватить все стороны современности, затронуть темы, волнующие общественность, живо реагировал на злобу дня. <br><i>
									Самые знаменитые работы: Бурлаки на Волге, Запорожцы, Иван Грозный и сын его Иван, портрет Льва Толстого.</i></p4>
								</div>
								<img class="artistIcon shadow-hard-right" src="../static/images/artists/Ilya efimovich Repin.jpg">
							</div>
							<div class="artistContainer">
								<img class="artistIcon shadow-hard-left" src="../static/images/artists/Gustav Klimt.png">
								<div class="artistInfo">
								<div class="header">
								<p1> Австрия</p1>
								<p2>1862-1918</p2>
								</div>
								<hr/>
								<p3>Густав Климт</p3>
								<p4>Художник и декоратор, один из самых ярких представителей венского модерна. Один из основателей Венского сецессиона. 
									Его монументально-декоративные и живописные произведения отличает стилизация, символизм и эротизм.
								    <br><i>Самые знаменитые работы: Три возраста женщины, Водяные змеи, Портрет Адели Блох-Бауэр, Поцелуй.</i></p4>
								</div>
							</div>
							<div class="artistContainer">
								<div class="artistInfo">
								<div class="header">
								<p1>Россия</p1>
								<p2>1879-1935</p2>
								</div>
								<hr/>
								<p3>Казимир Малевич</p3>
								<p4>Художник-авангардист польского происхождения, педагог, теоретик искусства, философ. Основоположник супрематизма — одного из крупнейших направлений абстракционизма.
									<br><i>Самые знаменитые работы: Супрематическая композиция, Красный квадрат (Женщина в двух измерениях), Черный квадрат.</i>
								</p4>
								</div>
								<img class="artistIcon shadow-hard-right" src="../static/images/artists/Malevich.jpg">
							</div>
							<div class="artistContainer">
								<img class="artistIcon shadow-hard-left" src="../static/images/artists/michelangelo.png">
								<div class="artistInfo">
								<div class="header">
								<p1>Италия</p1>
								<p2>1475-1564</p2>
								</div>
								<hr/>
								<p3>Микеланджело Буонарроти</p3>
								<p4>Один из крупнейших мастеров эпохи Возрождения и раннего барокко. Его произведения считались наивысшими достижениями искусства Возрождения ещё при жизни самого мастера.
									По характеру своего дарования он был прежде всего скульптор.
									<br><i>Самые знаменитые работы: Сотворение Адама, Страшный Суд.</i>
								</p4>
								</div>
							</div>
							<div class="artistContainer">
								<div class="artistInfo">
								<div class="header">
								<p1>Испания</p1>
								<p2>1881-1973</p2>
								</div>
								<hr/>
								<p3>Пабло Пикассо</p3>
								<p4>Основоположник кубизма. Пикассо много работал как график, скульптор, керамист и т. д. Вызвал к жизни массу подражателей и оказал исключительное влияние на развитие изобразительного искусства в XX веке. 
									Согласно оценке Музея современного искусства, Пикассо за свою жизнь создал около 20 тысяч работ.
								    <br><i>Самые знаменитые работы: Девочка на шаре, Дора Маар с кошкой.</i></p4>
								</div>
								<img class="artistIcon shadow-hard-right" src="../static/images/artists/Pablo Picasso.jpg">
							</div>
							<div class="artistContainer">
								<img class="artistIcon shadow-hard-left" src="../static/images/artists/Raffaello Santi.jpg">
								<div class="artistInfo">
								<div class="header">
								<p1>Италия</p1>
								<p2>1483-1520</p2>
								</div>
								<hr/>
								<p3>Рафаэль Санти</p3>
								<p4>Один из представителей искусства эпохи Высокого Возрождения, или «римского классицизма» начала XVI века. 
									В своих произведениях Рафаэль воплотил представление о возвышенных идеалах ренессансного гуманизма, сумев соединить вечные, восходящие к античности, представления о красоте и новое христианское мироощущение.
								    <br><i>Самые знаменитые работы: Сикстинская Мадонна, Донна Велата, Преображение, Триумф Галатеи.</i></p4>
								</div>
							</div>
							<div class="artistContainer">
								<div class="artistInfo">
								<div class="header">
								<p1>Испания</p1>
								<p2>1904-1989</p2>
								</div>
								<hr/>
								<p3>Сальвадор Дали</p3>
								<p4> живописец, график, скульптор, режиссёр и писатель. Один из самых известных представителей сюрреализма.
									<br><i>Самые знаменитые работы: Постоянство памяти, Метаморфозы Нарцисса, Лебеди, отражающиеся в слонах.</i>
								</p4>
								</div>
								<img class="artistIcon shadow-hard-right" src="../static/images/artists/Salvador Dali.jpg">
							</div>
							<div class="artistContainer">
								<img class="artistIcon shadow-hard-left" src="../static/images/artists/Shishkin Ivan Ivanovich.jpg">
								<div class="artistInfo">
								<div class="header">
								<p1>Россия</p1>
								<p2>1831-1898</p2>
								</div>
								<hr/>
								<p3>Иван Иванович Шишкин</p3>
								<p4>Среди русских пейзажистов Шишкину принадлежит место одного из сильнейших художников.
									 Во всех своих произведениях он является знатоком растительных форм, воспроизводящим их с тонким пониманием, как общего характера, так и мельчайших отличительных черт любых деревьев, кустов и трав.
									 <br><i>Самые знаменитые работы: Утро в сосновом лесу, Рожь, Сосны, освещённые солнцем.</i></p4>
								</div>
							</div>
							<div class="artistContainer">
								<div class="artistInfo">
								<div class="header">
								<p1>Нидерланды</p1>
								<p2>1853-1890</p2>
								</div>
								<hr/>
								<p3>Винсент Ван Гог</p3>
								<p4>Художник-постимпрессионист, чьи работы оказали вневременное влияние на живопись XX века. самый знаковый художник постимпрессионизма. 
									За десять с небольшим лет создал более 2100 произведений, включая около 870 картин маслом. 
									<br><i>Самые знаменитые работы: Звёздная ночь, Подсолнухи, Автопортрет с отрезанным ухом и трубкой.</i>
								</p4>
								</div>
								<img class="artistIcon shadow-hard-right" src="../static/images/artists/Vincent van Gogh.jpg">
							</div>
						</section>
				</article>
			</main>
		</div>		
{% endblock %}
