{% extends 'base.html' %}

{% block body %}
		<div>
			<div>
				<img src="../static/images/BG/mainBG2.jpg" width=100% alt="main page">
			</div>
			{% include 'middlenav.html' %}
				<main>
				<article>
					<section class="mainInfo">
						<h2>
							Добро пожаловать на наш сайт! Здесь вы можете узнать больше об искусстве: картинах и художниках.
						</h2>
						<div class="hidebox">
							<h3 class="paintText">Картины</h3>
							<div class="hideText" isShowed="false">
							<p style="text-indent: 40px">
								<i>Живопись</i> — наиболее популярный и прославленный в европейской культуре вид изобразительного искусства, произведения которого создаются с помощью красок, наносимых на какую-либо твёрдую поверхность. Основным выразительным средством живописи является цвет.<br></p>
								<p style="text-indent: 40px"><i>Живопись</i> представляет собой вид искусства, наиболее богатый изобразительными средствами: это не только цвет, вернее отношения хроматических тонов, но и ахроматические тональные отношения (контрасты и нюансы светлого и тёмного), светотеневые градации, графические средства (линия, силуэт), фактура красочного слоя. Искусство живописи по причине столь разнообразных средств тесно связано с картинностью, наглядностью изображения, дающего наиболее полное представление о форме и пространстве изображаемого. Именно этим объясняется популярность этого вида искусства.<br></p>
								<p style="text-indent: 40px">В академических словарях искусство живописи определяется исходя из этимологии («живописать» — изображать живо, жизнеподобно). Русское слово <i>«живопись»</i> указывает на тенденцию к реалистичности этого вида искусства в период его становления как искусства станковой картины в технике работы масляными красками. <br></p>
								<p style="text-indent: 40px">С XV века становится популярной живопись <i>масляными красками</i> (масляная живопись), которая остается наиболее популярной на протяжении веков. Масляная краска получается в результате соединения красящего пигмента с льняным маслом. Красочный слой в зависимости от толщины может сохнуть от двух-трех дней до нескольких месяцев. Масляная живопись требует использования специального грунта. Для работы с масляной краской используют щетинные, колонковые и синтетические кисти, а также другие инструменты — мастихины, шпатели. После высыхания масляной краски картина может быть покрыта покрывным лаком. Это делается как для защиты красочного слоя, так и для равномерности отражающего блеска её поверхности.<br></p>
								<a href="pictures">Самые известные картины >>></a>
								<section class="ganreBlock">
								<h3 class="ganre">Жанры</h3>
								<div class="hideText" isShowed="false">
								<ul>
									<li><i>Религиозная живопись</i></li>
									<li><i>Портрет</i> — изображение человека либо группы людей, существующих или существовавших в реальной действительности. «На портрете изображается внешний облик (а через него и внутренний мир) конкретного, реального, существовавшего в прошлом или существующего в настоящем человека».</li>
									<li><i>Историческая живопись</i> — жанр живописи, берущий начало в эпоху Ренессанса, посвящённый реальным историческим событиям и персонажам либо мифологическим и библейским сюжетам. Эти темы могли сочетаться — на картинах на историческую тематику часто присутствовали аллегорические персонажи мифологического или библейского происхождения.</li>
									<li><i>Батальная живопись</i> — жанр изобразительного искусства, тесно смыкающийся с историческим жанром. Батальные полотна посвящены темам войны и военной жизни. Главное место в батальном жанре занимают сцены сухопутных, морских сражений и военных походов. Художник стремится запечатлеть особо важный или характерный момент битвы, показать героику войны, а часто и раскрыть исторический смысл военных событий.</li>
									<li><i>Мифологическая живопись</i> — жанр, включающий произведения, посвящённые героям и событиям мифов древних народов. Как и батальная, примыкает к исторической живописи, получила оформление в эпоху Возрождения с усилением интереса к античной мифологии</li>
									<li><i>Пейзаж</i> — жанр живописи, в котором основным предметом изображения является первозданная, либо в той или иной степени преображённая человеком природа. Существовал с древности, но утратил своё значение в Средневековье и вновь появился в эпоху Ренессанса, постепенно став одним из важнейших живописных жанров. Если в пейзаже присутствуют человеческие фигуры, они играют роль второстепенных элементов (стаффажа).</li>
									<li><i>Интерьер</i> — изображение замкнутого пространства, внутреннего помещения здания. Хотя элементы интерьерной живописи наличествовали уже в произведениях античного искусства и иконописи, они не имели самостоятельного значения и служили лишь средством указания места действия. Толчок развитию интерьерной живописи дало в эпоху Возрождения изобретение линейной перспективы.</li>
									<li><i>Натюрморт</i> — изображение неодушевлённых предметов в изобразительном искусстве. Часто в натюрмортах фигурируют предметы обихода и труда, цветы, плоды, выловленная рыба и битая дичь.</li>
									<li><i>Жанровая живопись является частью бытового жанра</i> в изобразительном искусстве. Бытовые сцены с древности были предметом живописи, встречаясь в росписях Древнего Востока и античной вазописи, однако как отдельный жанр жанровая живопись сложилась лишь в XIV—XV веках.</li>
									<li><i>Анималистическая живопись</i> — полотна, главным сюжетом для которых является изображение животных. Художник сосредотачивается на передаче художественно-образной характеристики животного, его повадках, при этом часто персонажам придаются человеческие черты, приписываются человеческие эмоции и действия.</li>
									<li><i>Абстрактная живопись</i> — это живопись, главным сюжетом для которой является изображение мира абстракции.</li>
								</ul>
								</div>
							</section>
							</p>
							</div>
							<h3 class="artistText">Художники</h3>
							<div class="hideText" isShowed="false">
							<p style="text-indent: 40px">
								<i>Живописец</i> — это человек, который создает художественные образы на плоской поверхности (холсте, бумаге, картоне или доске). Среди представителей этой профессии существует разделение по следующим критериям: По жанрам (бытовой, натюрморт, исторический, религиозный, пейзаж). По стилям (барокко, рококо, романтизм, импрессионизм, сюрреализм). По технике исполнения (акварель, масло, гуашь).<br></p>
								<p style="text-indent: 40px"><i>Живописец</i> — древнейшая специализация среди художников. Первые наскальные изображения наши далекие предки делали в пещерах еще в каменном веке. Бурное развитие живописи наступило в Европе в эпоху Возрождения и продолжается до сих пор. Имена величайших живописцев известны во всем мире.<br>
							</p>
							<a href="artist">Самые известные художники >>></a>
							</div>
						</div>
					</section>
				</article>
			</main>
		</div>
		<script src="../static/javascripts/mainLogic.js"></script>
{% endblock %}